.white {
  color: var(--color-white) !important;
}

.gray-50 {
  color: var(--color-gray-50) !important;
}

.gray-100 {
  color: var(--color-gray-100) !important;
}

.gray-200 {
  color: var(--color-gray-200) !important;
}

.gray-300 {
  color: var(--color-gray-300) !important;
}

.gray-400 {
  color: var(--color-gray-400) !important;
}

.gray-500 {
  color: var(--color-gray-500) !important;
}

.gray-600 {
  color: var(--color-gray-600) !important;
}

.gray-700 {
  color: var(--color-gray-700) !important;
}

.gray-800 {
  color: var(--color-gray-800) !important;
}

.gray-900 {
  color: var(--color-gray-900) !important;
}

.black {
  color: var(--color-black) !important;
}
