.font-0,
a.font-0 *,
p.font-0 *,
h1.font-0 *,
h2.font-0 *,
h3.font-0 *, 
h4.font-0 *,
h5.font-0 *, 
h6.font-0 * {
  font-size: var(--font-size-0) !important;
}

.font-2,
a.font-2 *,
p.font-2 *,
h1.font-2 *,
h2.font-2 *,
h3.font-2 *, 
h4.font-2 *,
h5.font-2 *, 
h6.font-2 * {
  font-size: var(--font-size-2) !important;
}

.font-4,
a.font-4 *,
p.font-4 *,
h1.font-4 *,
h2.font-4 *,
h3.font-4 *, 
h4.font-4 *,
h5.font-4 *, 
h6.font-4 * {
  font-size: var(--font-size-4) !important;
}

.font-6,
a.font-6 *,
p.font-6 *,
h1.font-6 *,
h2.font-6 *,
h3.font-6 *, 
h4.font-6 *,
h5.font-6 *, 
h6.font-6 * {
  font-size: var(--font-size-6) !important;
}

.font-8,
a.font-8 *,
p.font-8 *,
h1.font-8 *,
h2.font-8 *,
h3.font-8 *, 
h4.font-8 *,
h5.font-8 *, 
h6.font-8 * {
  font-size: var(--font-size-8) !important;
}

.font-10,
a.font-10 *,
p.font-10 *,
h1.font-10 *,
h2.font-10 *,
h3.font-10 *, 
h4.font-10 *,
h5.font-10 *, 
h6.font-10 * {
  font-size: var(--font-size-10) !important;
}